mixin input(data)
  - const isShort = (bool) => bool ? `input-text--short` : ``;

  label.input-text(class=isShort(data.isShort))
    p #{data.labelText}
    input(
      name!=data.name
      placeholder!=data.placeholder
      required!=data.required
      value!=data.value)
